@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "ABCArizonaMix-Bold-Trial";
	src: url("../fonts/ABCArizonaMix-Bold-Trial.woff2");
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
